VITE_CONTACT_EMAIL=hyrovision@gmail.com
VITE_WHATSAPP_NUMBER=+919360294463
VITE_WHATSAPP_LINK=https://wa.me/15551234567

VITE_FIREBASE_API_KEY="AIzaSyARVZsUOO98M-ccCtiVPHl1y3Pot8DgqyU"
VITE_FIREBASE_AUTH_DOMAIN="hyro-vision-1e183.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="hyro-vision-1e183"
VITE_FIREBASE_STORAGE_BUCKET="hyro-vision-1e183.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="991871821306"
VITE_FIREBASE_APP_ID="1:991871821306:web:bf0e1b965f5a9cdd07b043"
VITE_FIREBASE_MEASUREMENT_ID="G-KY7QHSY9Z7"

VITE_ADMIN_EMAIL=hyrovision@gmail.com